<!DOCTYPE html>
<html>
{% include head.html %}
<body class="site{% if site.animated %} animated fade-in-down{% endif %}">
  <div class="site-wrap">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main">
      <div class="measure">
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}

<script>
  $("script[type='math/tex']").replaceWith(
  function(){
    var tex = $(this).text();
    var restex=tex.replace("% <![CDATA[", " ").replace("%]]>", " ");
    return "<span class=\"inline-equation\">" + 
           katex.renderToString(restex) +
           "</span>";
  });

  $("script[type='math/tex; mode=display']").replaceWith(
  function(){
    var tex = $(this).text();
    var restex=tex.replace("% <![CDATA[", " ").replace("%]]>", " ");
    return "<div align=\"center\" class=\"equation\">" + 
           katex.renderToString("\\displaystyle "+restex)+
           "</div>";
  });
</script>

</body>
</html>
